/#README.org#
/updatedb-freebsd.sh~
/.#push_over_send.sh
/#push_over_send.sh#
/#weather#
/laptop_install.sh~
/#server_sensors_watch.sh#
/.#server_sensors_watch.sh
/network_stress.sh
/network_stress.sh~
/network_stress_curl.sh
/network_stress_curl.sh~
